In [1]:
a=1000
b=2000
c=a
d=1000

In [2]:
print(a,b,c,d)

1000 2000 1000 1000

In [3]:
a=1000
b=2000
c=a
d=1000
print(a,id(a),type(a))
print(b,id(b),type(b))
print(c,id(c),type(c))
print(d,id(d),type(d))

1000 139743543675088 <class 'int'>
2000 139743543675344 <class 'int'>
1000 139743543675088 <class 'int'>
1000 139743543675120 <class 'int'>

In [4]:
a=1000
b=2000
c=a
d=1000
a=5000
c=6000
d=7000

In [7]:
s1="python "
s2="apple"
s3=s1
s4="python "
print(s1,id(s1))
print(s2,id(s2))
print(s3,id(s3))
print(s4,id(s4))

python  139743543389352
apple 139743543388792
python  139743543389352
python  139743543388008

In [8]:
s1="python "
s2="apple"
s3=s1
s4="python "
print(s1[0],id(s1[0]))

p 139743748999184

In [9]:
s1="python "
s2="apple"
s3=s1
s4="python "
print(s1[0],id(s1[0]))
print(s4[0],id(s4[0]))
print(s3[0],id(s3[0]))
print(s2[1],id(s2[1]))
print(s2[2],id(s2[2]))

p 139743748999184
p 139743748999184
p 139743748999184
p 139743748999184
p 139743748999184

In [11]:
a=1000
print(a,type(a))
a=1000.23
print(a,type(a))
a=10+2j
print(a,type(a))
a="python"
print(a,type(a))
a=[10,20,"str1"]
print(a,type(a))
a=(10,20,30,40,5)
print(a,type(a))
a={10,20,30}
print(a,type(a))
a={"k1":"v1"}
print(a,type(a))
a=True
print(a,type(a))
a=None
print(a,type(a))

1000 <class 'int'>
1000.23 <class 'float'>
(10+2j) <class 'complex'>
python <class 'str'>
[10, 20, 'str1'] <class 'list'>
(10, 20, 30, 40, 5) <class 'tuple'>
{10, 20, 30} <class 'set'>
{'k1': 'v1'} <class 'dict'>
True <class 'bool'>
None <class 'NoneType'>

In [12]:
a=1000
b=2000

# +,-,*,/,//,**,%
# >,<,>=,<=,==,!=,in,is, not in  , and, or
# &,|,^, >>,<<

In [13]:

a+b

3000

In [14]:
a-b

-1000

In [15]:
a>b

False

In [16]:
a<b

True

In [17]:
a&b

960

In [18]:
a|b

2040

In [20]:
 a in b

TypeError: argument of type 'int' is not iterable

In [21]:
a not in b

TypeError: argument of type 'int' is not iterable

In [22]:
 a is b

False

In [23]:
a=10
b="str1"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
a*b

'str1str1str1str1str1str1str1str1str1str1'

In [25]:
a=input("enter a value:")

enter a value:123

In [26]:
print(a)

123

In [27]:
a=input("enter a value:")
b=input("Enter b value:")
print(a+b)

enter a value:23
Enter b value:45
2345

In [28]:
a=input("enter a value:")
b=input("Enter b value:")
print(a,type(a))
print(b, type(b))
print(a+b)

enter a value:12
Enter b value:34
12 <class 'str'>
34 <class 'str'>
1234

In [29]:
a=23
b="23"

In [30]:
a=input("enter a value:")
b=input("Enter b value:")
print(a,type(a))
print(b, type(b))
print(a+b)

enter a value:pyton
Enter b value:java
pyton <class 'str'>
java <class 'str'>
pytonjava

In [31]:
a=input("enter a value:")
b=input("Enter b value:")
print(a,type(a))
print(b, type(b))
print(a+b)

enter a value:[10,20,3]
Enter b value:(1,2,3)
[10,20,3] <class 'str'>
(1,2,3) <class 'str'>
[10,20,3](1,2,3)

In [32]:
a="23"
b="45"
print(a+b)

2345

In [33]:
a="23"
b="45"
a=int(a)
b=int(b)
print(a+b)

68

In [1]:
a=10
b=20
a in b

TypeError: argument of type 'int' is not iterable

In [2]:
s1="python"
s2="c,cpp,php,python,java"
s1 in s2

True

In [3]:
10 in [10,20,30,40,50]

True

In [4]:
s1="python"
s2="python"
s1==s2

True

In [5]:
s1>s2

False

In [6]:
s1>=s2

True

In [7]:
a=10
b="10"
a==b

False

In [8]:
a>b

TypeError: '>' not supported between instances of 'int' and 'str'

In [2]:
dis_km = input("Enter distance:")
dis_km_int=int(dis_km)
print("distance in meters:",dis_km_int*1000)

Enter distance:23
distance in meters: 23000

In [3]:
# rules of variables:
customer name="Sai"

SyntaxError: invalid syntax (<ipython-input-3-1ac08fc498a0>, line 2)

In [4]:
customer_name="Sai"

In [5]:
$customer_name="Sai"

SyntaxError: invalid syntax (<ipython-input-5-f85a35739322>, line 1)

In [6]:
_customer_name="Sai"

In [7]:
customer_3name1="Sai"

In [8]:
2customer_3name1="Sai"

SyntaxError: invalid syntax (<ipython-input-8-3b27543d355b>, line 1)

In [9]:
for="23"

SyntaxError: invalid syntax (<ipython-input-9-7aa497742129>, line 1)

In [11]:
import keyword

In [14]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
class_name="c1"

In [16]:
class="c1"

SyntaxError: invalid syntax (<ipython-input-16-ba7e051477c6>, line 1)

In [17]:
a=10

In [18]:
total=2345

In [19]:
print(total)

2345

In [20]:
print(product_total)

NameError: name 'product_total' is not defined

In [21]:
print(True)

True

In [22]:
print(false)

NameError: name 'false' is not defined

In [23]:
print(False)

False

In [24]:
total=2345
print(total)

2345

In [25]:
print(Total)

NameError: name 'Total' is not defined

In [ ]:
dis_km = input("Enter distance:") # reference to take distance in kilometers
dis_km_int=int(dis_km)
print("distance in meters:",dis_km_int*1000)

In [ ]:
distance_in_kilometers = input("Enter distance:") 
dis_km_int=int(dis_km)
print("distance in meters:",dis_km_int*1000)

In [26]:
TOTAL=23545

In [27]:
print(TOTAL)

23545

In [28]:
print("sdfsdg")
print("sdfsdf")

sdfsdg
sdfsdf

In [29]:
print("sdfsdg")
print("sdfsdf")

sdfsdg
sdfsdf

In [32]:
dis_km = input("Enter distance:")

Enter distance:12

In [33]:
print("dsfsdf")

dsfsdf

In [37]:
dis_km = input("Enter distance:") 
print(dis_km)

Enter distance:12
12

In [38]:
print("sdfsd")

sdfsd

In [1]:
a=10
b=20
print (a<b)

True

In [2]:
a="10"
b="20"
print (a<b)

True

In [3]:
a=10
b="20"
print (a<b)

TypeError: '<' not supported between instances of 'int' and 'str'

In [4]:
a="10"
print(a<"20")

True

In [5]:
c="10"
a=c
b="20"
print(a<b)

True

In [6]:
a=100
b=23
print(a/b)

4.3478260869565215

In [7]:
a=10
b=20
print a/b

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(a/b)? (<ipython-input-7-3f1c11c195d0>, line 3)

In [8]:
a=10
b=20
print(a/b)

0.5

In [9]:
a=10
b=20

In [10]:
a="2"
b="10000"
a>b

True

In [11]:
# bat cat apple ant
# ant apple bat cat
"cat">"bat"

True

In [12]:
"ant"<"apple"

True

In [13]:
# "12" "6" "7" "23" "4" "45"
# "12" "23" "4" "45" "6" "7" alphabetical order: comparisaon is : lexical comparison

"23"<"4"

True

In [14]:
l1=[10,20,30,40]
l2=[10,20,30,40]
l1==l2

True

In [15]:
l1>l2

False

In [16]:
10>10

False

In [17]:
l1=[10,20,30,40]
l2=[10,20,3,40]
l1>l2

True

In [18]:
l1=[10,20,3,40]
l2=[10,20,30,40]
l1>l2

False

In [19]:
l1=[10,20,3,40]
l2=[10,20,30,4]
l1>l2

False

In [20]:
l1=[1,20,3,40]
l2=[100,-20,-30,-4]
l1>l2

False

In [1]:
# number systems
# binary number systems
# decimal number systems
# hexa decimal number system
# how to convert decimal to hex,bina
# ctal number systems

In [2]:
a=10
print(a)
a=0b1010
print(a)
a=0x123a
print(a)
a=0o123
print(a)

10
10
4666
83

In [3]:
a=0b102

SyntaxError: invalid syntax (<ipython-input-3-fe7076b4699c>, line 1)

In [4]:
a=0o67

In [5]:
a=0o87

SyntaxError: invalid token (<ipython-input-5-194bc55fff9a>, line 1)

In [6]:
a=0xaf

In [8]:
a=0xfg

SyntaxError: invalid syntax (<ipython-input-8-2e54f61e06a1>, line 1)

In [9]:
a=1234
print(hex(a))
print(oct(a))
print(bin(a))

0x4d2
0o2322
0b10011010010

In [10]:
a=input("Enter a value:")
b=input("Enter b value:")
print(a+b)

Enter a value:12
Enter b value:34
1234

In [11]:
a=input("Enter a value:")
b=input("Enter b value:")
a=int(a)
b=int(b)
print(a+b)

Enter a value:12
Enter b value:34
46

In [12]:
a=input("Enter a value:")
b=input("Enter b value:")
a=int(a)
b=int(b)
print(a+b)

Enter a value:1.2
Enter b value:3.4

ValueError: invalid literal for int() with base 10: '1.2'

In [13]:
int(12.34)

12

In [16]:
print(int("326"))
print(6*10**0+2*10**1+3*10**2)

326
326

In [17]:
print(int("1.2"))
#print(2*10**0+)

ValueError: invalid literal for int() with base 10: '1.2'

In [18]:
int("12ab")

ValueError: invalid literal for int() with base 10: '12ab'

In [19]:
print(int("12ab",16))
print(11*16**0+10*16**1+2*16**2+1*16**3)

4779
4779

In [20]:
4**2

16

In [21]:
4*2

8

In [22]:
a="12.36"
print(int(a))

ValueError: invalid literal for int() with base 10: '12.36'

In [23]:
a="12.36"
print(float(a))

12.36

In [24]:
a="12.36"
print(a, type(a))
b=float(a)
print(b, type(b))
c=int(b)
print(c,type(c))

12.36 <class 'str'>
12.36 <class 'float'>
12 <class 'int'>

In [25]:
a=input("Enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a+b)

Enter a value:12
Enter b value:34
46.0

In [26]:
a=input("Enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a+b)

Enter a value:1.2
Enter b value:3.4
4.6

In [27]:
a=input("Enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a+b)

Enter a value:324
Enter b value:wer

ValueError: could not convert string to float: 'wer'

In [28]:
float("afda")

ValueError: could not convert string to float: 'afda'

In [29]:
cost=23.45
product_name="banana"
# the cost of the banana:23.45
print("the cost of the banana:23.45")

the cost of the banana:23.45

In [30]:
cost=23.45
product_name="banana"
# the cost of the banana:23.45
print("the cost of the")

the cost of the

In [31]:
cost=23.45
product_name="banana"
# the cost of the banana:23.45
print("the cost of the",product_name)

the cost of the banana

In [32]:
cost=23.45
product_name="banana"
# the cost of the banana:23.45
print("the cost of the product_name")

the cost of the product_name

In [33]:
a=10
print(a)
print("a")

10
a

In [34]:
cost=23.45
product_name="banana"
# the cost of the banana:23.45
print("the cost of the",product_name)

the cost of the banana

In [35]:
cost=23.45
product_name="banana"
# the cost of the banana:23.45
print("the cost of the",product_name,":")

the cost of the banana :

In [36]:
cost=23.45
product_name="banana"
# the cost of the banana:23.45
print("the cost of the",product_name+":")

the cost of the banana:

In [37]:
cost=23.45
product_name="banana"
# the cost of the banana:23.45
print("the cost of the",product_name+":",cost)

the cost of the banana: 23.45

In [38]:
cost=23.45
product_name="banana"
# the cost of the banana:23.45
print("the cost of the",product_name+":"+cost)

TypeError: can only concatenate str (not "float") to str

In [39]:
"sdrt"+23

TypeError: can only concatenate str (not "int") to str

In [40]:
"sdfsdf"+23.45

TypeError: can only concatenate str (not "float") to str

In [41]:
cost=23.45
product_name="banana"
# the cost of the banana:23.45
print("the cost of the",product_name+":"+str(cost))

the cost of the banana:23.45

In [42]:
a=12.34
print(a,type(a))
b=str(a)
print(b,type(b))

12.34 <class 'float'>
12.34 <class 'str'>

In [43]:
a=12.34
b="12.34"

In [44]:
name="Mango"
season="Summer"
cost=23.4567
# the mango will be available in Summer and the cost:23.4567
print("the",name,"will be available in",season,"and the cost:"+str(cost))

the Mango will be available in Summer and the cost:23.4567

In [45]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
round(weight,2)

14.57

In [46]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", ")

Name:Jayaram,

In [48]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+age)

TypeError: can only concatenate str (not "float") to str

In [49]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age))

Name:Jayaram, Age:1.112

In [51]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:")

Name:Jayaram, Age:1.112, Weight:

In [52]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:"+str(weight))

Name:Jayaram, Age:1.112, Weight:14.5678

In [53]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:"+str(round(weight,2)))

Name:Jayaram, Age:1.112, Weight:14.57

In [54]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:"+str(round(weight,2))+", Height:"+str(round(height,2)))

Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57

In [55]:
print("line1\nline2")

line1
line2

In [57]:
print("line1")
print("line2")

line1
line2

In [58]:
print("line1\tline2")

line1	line2

In [60]:
print("sdfsdsdfsdfjfjsdkjsd klsdj fsdjfsd kljsd gklsjgklfdsjgdfjg dfgjdfkgdf kgmdfljglkdfjgkldfjgkdfjgdjfgkdfj\
gkldjf dfkgjdkfgjdfkl gjdfkljg dfjg kldfjgldf;jglkdjfskljdfkgkljg")

sdfsdsdfsdfjfjsdkjsd klsdj fsdjfsd kljsd gklsjgklfdsjgdfjg dfgjdfkgdf kgmdfljglkdfjgkldfjgkdfjgdjfgkdfjgkldjf dfkgjdkfgjdfkl gjdfkljg dfjg kldfjgldf;jglkdjfskljdfkgkljg

In [61]:
print("statement1");print("statement2")

statement1
statement2

In [62]:
a=10;b=20;c=30;print(a+b+c)

60

In [64]:
print("\n")

In [65]:
print("\\n")

\n

In [66]:
s="dsfs\nsdfsdfsd\nsdfsdf\tsdfsdf\nsdfsdfsd\tsdfsdfsd\nsdfsdfsd\tsdfsdf"
print(s)

dsfs
sdfsdfsd
sdfsdf	sdfsdf
sdfsdfsd	sdfsdfsd
sdfsdfsd	sdfsdf

In [67]:
s="dsfs\\nsdfsdfsd\\nsdfsdf\\tsdfsdf\\nsdfsdfsd\\tsdfsdfsd\\nsdfsdfsd\\tsdfsdf"
print(s)

dsfs\nsdfsdfsd\nsdfsdf\tsdfsdf\nsdfsdfsd\tsdfsdfsd\nsdfsdfsd\tsdfsdf

In [68]:
s=r"dsfs\nsdfsdfsd\nsdfsdf\tsdfsdf\nsdfsdfsd\tsdfsdfsd\nsdfsdfsd\tsdfsdf"
print(s)

dsfs\nsdfsdfsd\nsdfsdf\tsdfsdf\nsdfsdfsd\tsdfsdfsd\nsdfsdfsd\tsdfsdf

In [70]:
# "it's very cool in 'hyderabad' today"
print("it's very cool in 'hyderabad' today")

it's very cool in 'hyderabad' today

In [71]:
# "it's very cool in 'hyderabad' today"
print(""it's very cool in 'hyderabad' today"")

SyntaxError: invalid syntax (<ipython-input-71-64d09994ebc9>, line 2)

In [72]:
# "it's very cool in 'hyderabad' today"
print("\"it's very cool in 'hyderabad' today\"")

"it's very cool in 'hyderabad' today"

In [73]:
print('""')

""

In [74]:
print("''")

''

In [76]:
print('''')

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-76-4b777b03c816>, line 1)

In [77]:
print('\'\'')

''

In [78]:
s="python"
print(len(s))

6

In [79]:
s1="python\nc\ncpp\njava\nphp"
s2="python c cpp java php"
print(len(s1))
print(len(s2))

21
21

In [80]:
s1="python\nc\ncpp\njava\nphp"
s2=r"python\nc\ncpp\njava\nphp"
s3="python c cpp java php"
print(len(s1))
print(len(s2))
print(len(s3))

21
25
21

In [81]:
print("%s,%d,%f,%r,%o,%x,%X")

%s,%d,%f,%r,%o,%x,%X

In [82]:
# format specifiers

In [83]:
a=2345
print("%o",a)

%o 2345

In [84]:
a=2345
print("%o"%a)

4451

In [85]:
a=3452
b=oct(a)
c="%o"%a
print(b,type(b))
print(c, type(c))

0o6574 <class 'str'>
6574 <class 'str'>

In [86]:
a=3452
b=hex(a)
c="%x"%a
print(b,type(b))
print(c, type(c))

0xd7c <class 'str'>
d7c <class 'str'>

In [87]:
a=3452
b=hex(a)
c="%x",a
print(b,type(b))
print(c, type(c))

0xd7c <class 'str'>
('%x', 3452) <class 'tuple'>

In [88]:
a=3452
b=hex(a)
c="%y"%a
print(b,type(b))
print(c, type(c))

ValueError: unsupported format character 'y' (0x79) at index 1

In [89]:
cost=23.45678
# the product cost:23.46
print("the product cost:",round(cost,2))

the product cost: 23.46

In [90]:
cost=23.45678
# the product cost:23.46
print("the product cost:"+round(cost,2))

TypeError: can only concatenate str (not "float") to str

In [91]:
cost=23.45678
# the product cost:23.46
print("the product cost:"+str(round(cost,2)))

the product cost:23.46

In [92]:
cost=23.45678
# the product cost:23.46
print("the product cost:"+str(round(cost,2)))
print("the product cost:%s"%cost)

the product cost:23.46
the product cost:23.45678

In [93]:
cost=23.45678
# the product cost:23.46
print("the product cost:"+str(round(cost,2)))
print("the product cost:%d"%cost)

the product cost:23.46
the product cost:23

In [94]:
cost=23.45678
# the product cost:23.46
print("the product cost:"+str(round(cost,2)))
print("the product cost:%f"%cost)

the product cost:23.46
the product cost:23.456780

In [95]:
cost=23.45678
# the product cost:23.46
print("the product cost:"+str(round(cost,2)))
print("the product cost:%.2f"%cost)

the product cost:23.46
the product cost:23.46

In [96]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:"+str(round(weight,2))+", Height:"+str(round(height,2)))
print("Name:%s,"%name)

Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
Name:Jayaram,

In [97]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:"+str(round(weight,2))+", Height:"+str(round(height,2)))
print("Name:%s,Age:%s"%(name,age))

Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
Name:Jayaram,Age:1.112

In [98]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:"+str(round(weight,2))+", Height:"+str(round(height,2)))
print("Name:%s, Age:%s, Weight:%.2f"%(name,age,weight))

Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
Name:Jayaram, Age:1.112, Weight:14.57

In [99]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:"+str(round(weight,2))+", Height:"+str(round(height,2)))
print("Name:%s, Age:%s, Weight:%.2f, Height:%.2f"%(name,age,weight,height))

Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57

In [100]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:"+str(round(weight,2))+", Height:"+str(round(height,2)))
print("Name:%s, Age:%s, %Weight:%.2f, Height:%.2f"%(name,age,weight,height))

Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57

ValueError: unsupported format character 'W' (0x57) at index 18

In [101]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:"+str(round(weight,2))+", Height:"+str(round(height,2)))
print("Name:%s, Age:%s, \%Weight:%.2f, Height:%.2f"%(name,age,weight,height))

Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57

ValueError: unsupported format character 'W' (0x57) at index 19

In [102]:
name="Jayaram"
age=1.112
weight=14.5678
height=2.5673
#Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
print("Name:"+name+", Age:"+str(age)+", Weight:"+str(round(weight,2))+", Height:"+str(round(height,2)))
print("Name:%s, Age:%s, %%Weight:%.2f, Height:%.2f"%(name,age,weight,height))

Name:Jayaram, Age:1.112, Weight:14.57, Height:2.57
Name:Jayaram, Age:1.112, %Weight:14.57, Height:2.57

In [103]:
# expression evaluation
print(12+3*10/2)

27.0

In [104]:
# expression evaluation
print(12+3*10/2+20)

47.0

In [105]:
# operator precedency
a=100/20/5
print(a)

1.0

In [106]:
# expression evaluation
print((12+3)*10/2+20)

95.0

In [107]:
a=10
b=20
print((a+b)*(a+b))

900

In [108]:
a=10
b=20
print((a+b)*(a+b))
print((a+b)**2)
print(a**2+b**2+2*a*b)

900
900
900

In [109]:
print(a+b*a+b)

230

In [111]:
a=10
b=20
print((a+b)*(a+b)*(a+b))
print((a+b)**3)
print(a**3+b**3+3*a*b*(a+b))
print(a**3+b**3+3*a**2*b+3*a*b**2)

27000
27000
27000
27000

In [112]:
a=10
b=20
c=a+b
print(c*c*c)
print(c**3)
print((a+b)*(a+b)*(a+b))
print((a+b)**3)
print(a**3+b**3+3*a*b*(a+b))
print(a**3+b**3+3*a**2*b+3*a*b**2)

27000
27000
27000
27000
27000
27000

In [113]:
a=4
import math
math.sqrt(a)

2.0

In [114]:
a**0.5

2.0

In [115]:
a=True
print(a, type(a))
b=False
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [116]:
a=True
print(int(a))
b=False
print(int(b))

1
0

In [117]:
a=0
print(bool(a))
a=1
print(bool(a))

False
True

In [118]:
a=100
print(bool(a))
a=200
print(bool(a))

True
True

In [119]:
a=-100
print(bool(a))
a=-200
print(bool(a))

True
True

In [120]:
a=10
b=20
a>b

False

In [121]:
a=10
b=20
c=a>b
print(c)

False

In [122]:
# and or xor
a=10
b=20
c=30
print(a>b and a>c)
print(a>b or a>c)

False
False

In [123]:
# and or xor
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [124]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [125]:
print(True != True)
print(True != False)
print(False != True)
print(False != False)

False
True
True
False

In [126]:
a=1000
b=1000
print(a==b)
print(a is b)

True
False

In [127]:
a=1000
b=a
print(a==b)
print(a is b)

True
True

In [128]:
# inline
a=10
b=10
print(a==b)
print(a is b)

True
True

In [129]:
a=True
print(a,id(a))

True 94371556270816

In [130]:
a=True
b=True
print(a,id(a))
print(b, id(b))

True 94371556270816
True 94371556270816

In [131]:
a=None
b=None
c=None
print(a,id(a))
print(b, id(b))
print(c,id(c))

None 94371556257776
None 94371556257776
None 94371556257776

In [132]:
a=[]
b={}
c=()
print(bool(a))
print(bool(b))
print(bool(c))

False
False
False

In [133]:
a=[10,20]
b={1:2}
c=(10,20)
print(bool(a))
print(bool(b))
print(bool(c))

True
True
True

In [135]:
bool("")

False

In [136]:
bool("sgdsdfgf")

True

In [137]:
bool("0")

True

In [138]:
bool([0])

True

In [139]:
bool(0)

False

In [140]:
bool(0.0)

False

In [141]:
bool(0.0000001)

True

In [142]:
bool(1.0)

True

In [143]:
bool(0+0j)

False

In [144]:
bool("python")

True